.homeCards_main {
    padding: 64px 0;
}
.homeCards_main h2 {
    text-align: center;
    padding-bottom: 64px;
}
.hCm_cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 64px;
    margin: 0 128px;
}
.hCm_card_item {
    position: relative;
    flex-basis: 25%;
    aspect-ratio: 1 / 1.5;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 32px;
    border: 1px solid black;
    padding: 32px 0;
    border-radius: 8px;
}
.hCm_card_item h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hCm_card_item p {
    text-align: center;
    min-height: 100px;
    width: 80%;
    margin: 0 auto;
}
.h_b2b_disclaimer > p:nth-child(1) {
    width: 70%;
}
.hCm_card_item button {
    width: 50%;
    align-self: center;
    border: none;
    background-color: black;
    color: white;
    padding: 12px 0;
    border-radius: 13px;
}
.hCm_card_item button:hover {
    cursor: pointer;
}
.card_arrow_right {
    position: absolute;
    left: -10px;
    top: -10px;
}
@media (max-width:992px) {
    .hCm_cards {
        flex-wrap: wrap;
    }
    .hCm_card_item {
        flex-basis: 40%;
    }
}