.navbar_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    height: 75px;
}
.navbar_list {
    position: relative;
}
.navbar_list ul {
    display: flex;
    gap: 16px;
    padding: 0 32px;
}
.navbar_list ul li a {
    text-wrap: nowrap;
}
.navbar_list ul li a:hover {
    text-decoration: underline;
}
.navbar_callto a {
    color: white;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 13px;
    background-color: black;
    text-wrap: nowrap;
}
.navbar_burger {
    display: none; 
    border: 1px solid black;
    border-radius: 13px;
    padding: 4px 10px;
}
@media (max-width: 992px) {
    .navbar_main {
        justify-content: flex-end;
        gap: 64px;
    }
    .navbar_list {
        order: 1;
    }
    .navbar_list ul {
        position: absolute;
        display: block;
        right: 1px;
        border-radius: 13px;
        background-color: black;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    .navbar_list ul.open {
        height: 180px;
    }
    .navbar_list ul li a {
        color: white;
    }
    .navbar_list ul li {
        margin: 12px 0;
    }
    .navbar_burger {
        display: inline-block;
    }
}
